.container {
    width: 600px;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #999;
}

header {
    margin-bottom: 30px;
}

textarea {
    width: 590px;
    margin-bottom: 18px;
}
